@{
    Layout = null;
}

<div class="row centerBlock orange">
    <div class="col-md-6 col-lg-6">
        @Html.Partial("Login")
    </div>
    <div class="col-md-6 col-lg-6">
        @Html.Partial("Register")
    </div>
</div>